doctype 5
html
  head
    title= title   
    each stylesheet in stylesheets
        link(rel='stylesheet', href='/css/#{stylesheet}.css')
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    block footer          