extends layout

block header
  
block content
  each lesson in lessons
    div(class='lesson') #{lesson.first_name} #{lesson.last_name}

block footer
  script(type='text/javascript' src='/static/js/results.js')  

