extends layout

block content

	h1= title
	p Welcome to #{title}

	div#searchbox
block footer
	script(type='text/javascript' src='/js/controls/search.js')	
	script.
		$(document).ready(function() {
			$('#searchbox').search();
		});

